@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Righteous&display=swap');
.f-primo{font-family: 'Oswald', sans-serif;}
.f-secondo{font-family: 'Righteous', cursive;}
/*---------NAV-----------*/
.form{background-color:#2C1267 ;margin:0}
nav{width: 100%;height: 60px; background-color:black;display: flex; align-items: center;justify-content: space-around;position: absolute;}
nav span{color: white;cursor: pointer;font-family: 'Righteous', cursive;}

swiper-container {
  width: 100%;
  height: 300px;
  top: 100px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background:#2C1267 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.prova{width: 100%;
height: 200px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
/* .slide{
  width: 100%;
  height: 1000px;
  top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.ciao{display: flex;justify-content: center;align-items: center;}